.everything {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);      
  transform: translateY(-50%);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  border-radius: 25px;
}
p{
  text-align:center;
  font-family:courier;
  padding-right: 10%;
  padding-left: 10%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color:black;
}
.icons {
  max-width: 500px;
  margin: auto;
  padding-left: 200px;
}
